html {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
  background-color: dimgray;
}

input[type="button"] {
  outline: none;
  box-shadow: none;
  border-radius: 25px;
}

input[type="button"]:focus {
  outline: none;
  box-shadow: none;
}

#header {
  height: 50px;
}

#content {
  margin-top: 100px;
  padding-bottom: 2.5rem;
}

#calculator {
  border: 1px solid silver;
  width: 500px;
  height: 500px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: silver;
  box-shadow: 5px 3px #808080;
  border-radius: 25px;
}

#calc-header {
  height: 50px;
  width: inherit;
  position: absolute;
}

#display-wrap {
  height: 100px;
  min-height: 100px;
  width: inherit;
  position: absolute;
  margin-top: 50px;
  background-color: silver;
}

#display {
  line-height: 75px;
  text-align: right;
  font-size: 40px;
  background-color: white;
  min-width: 400px;
  max-width: 480px;
  min-height: 80px;
  border-radius: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

#buttons {
  margin-top: 150px;
  width: inherit;
  height: auto;
}

#left {
  float: left;
  height: 100%;
  width: 75%;
}

#right-operators {
  float: right;
  height: 100%;
  width: 25%;
}

#left-operators {
  width: auto;
  height: 33%;
}

#left-numbers {
  height: 67%;
  width: 100%;
  background-color: silver;
  border-radius: 25px;
}

#tl-op,
#tnumb,
#tr-op {
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 25px;
}

.l-operator {
  width: 33%;
  border: 1px solid white;
  position: relative;
  height: 50%;
  border-radius: 25px;
  box-shadow: 2px 2px #999999;
}

.numbers {
  width: 33%;
  border: 1px solid silver;
  position: relative;
  border-radius: 25px;
  box-shadow: 2px 2px #999999;
}

.r-operator {
  width: 100%;
  border: 1px solid white;
  position: relative;
  border-radius: 25px;
  box-shadow: 2px 2px #999999;
}

.button,
.posneg,
.percentage,
.clear,
.clearentry,
.delete,
.divide,
.multiply,
.add,
.sub,
.equal,
.invert,
.squared,
.root,
.dot {
  width: 100%;
  height: 100%;
  padding: 0;
  border: none;
  background: none;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  font-size: inherit;
  cursor: pointer;
}

.button,
.posneg,
.dot {
  background-color: white;
}

.button:hover,
.posneg:hover,
.dot:hover {
  background-color: #f2f2f2;
}

.button:active,
.posneg:active,
.dot:active {
  background-color: #f2f2f2;
  transform: translateY(1px);
}

.percentage:hover,
.clear:hover,
.clearentry:hover,
.delete:hover,
.divide:hover,
.multiply:hover,
.add:hover,
.sub:hover,
.equal:hover,
.invert:hover,
.squared:hover,
.root:hover {
  background-color: #b3b3b3;
}

.percentage:active,
.clear:active,
.clearentry:active,
.delete:active,
.divide:active,
.multiply:active,
.add:active,
.sub:active,
.equal:active,
.invert:active,
.squared:active,
.root:active {
  background-color: #b3b3b3;
  transform: translateY(1px);
}

#footer {
  position: absolute;
  bottom: 0;
  height: 2.5rem;
}
